flyway:
  baseline-on-migrate: true
  enabled: true
  outputQueryResults: true
logging:
  level:
    root: INFO
spring:
  datasource:
    username: sa
    password: password
    url: jdbc:h2:mem:report_db
    driverClassName: org.h2.Driver
  h2:
    console:
      enabled: true
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect